{% extends "base.html" %}

{% load static %}

{% block title %}Analiz{% endblock title %}

{% block content %}

<h2>Seçilen Parçalardaki Bütün Bileşenlerin Özeti:</h2>
<br>
<div class="container">
    <div class="row">
        <ol id="analyzed_subcomponent_list">
        </ol>
    </div>
</div>

<br>

<!-- 
<hr>
<br> -->

<div style="opacity: 0%; pointer-events:none;" class="container">
    <h2>Parçaların Bileşenlerinin Analizleri: (Bu Özellik Iskartaya Çıkarıldı)</h2>
    <br>
    <div class="row">
        <ol id="analyzed_piece_list"></ol>
    </div>
</div>

{% endblock content%}

{% block scripts %}

<script>

    all_selected_pieces_data = '{{pieces|escapejs}}';

    pieces_cleaned_data = JSON.parse(all_selected_pieces_data);

    for (my_piece of pieces_cleaned_data) {

        let bilesen_name_list = [];
        let cesni_name_percentage_list = [];

        for (my_bilesen of my_piece['bilesenler']) {

            bilesen_name_list.push(my_bilesen['bilesen_ismi'])

            cesni_name_percentage_pair = {};

            for (my_cesni of my_bilesen['bilesen_cesniler']) {

                console.log(my_cesni);

                if (!(my_cesni['cesni_ismi'] in cesni_name_percentage_pair)) {

                    cesni_name_percentage_pair[my_cesni['cesni_ismi']] = my_cesni['cesni_oran'];
                }
                else {

                    cesni_name_percentage_pair[my_cesni['cesni_ismi']] += my_cesni['cesni_oran'];
                }
            }

            cesni_name_percentage_list.push(cesni_name_percentage_pair);
        }

        createNewChartAddToHtml(my_piece, bilesen_name_list, cesni_name_percentage_list)
    }

    function createNewChartAddToHtml(piece, bilesenler, cesniler) {

        my_piece_list = document.getElementById("analyzed_piece_list");

        current_li_name = String(piece['parca_ismi']);
        piece_list_item = document.createElement('li');
        piece_list_item.id = current_li_name;
        my_piece_list.appendChild(piece_list_item);

        for (let current_cesni_index = 0; current_cesni_index < cesniler.length; ++current_cesni_index) {

            console.log(cesniler);

            let data = [];
            let labels = [];

            for (key in cesniler[current_cesni_index]) {
                data.push(cesniler[current_cesni_index][key])
            }

            for (label in cesniler[current_cesni_index]) {
                labels.push(label)
            }

            current_chart_li_name = String(piece['parca_ismi']) + "_" + current_cesni_index + "_" + bilesenler[current_cesni_index];
            piece_chart_list = document.createElement('ul');
            piece_chart_list.id = current_chart_li_name;
            piece_list_item.appendChild(piece_chart_list);

            my_piece_list_node = document.getElementById(current_chart_li_name);

            current_chart_name = String(piece['parca_ismi'] + "_" + current_cesni_index + "_" + bilesenler[current_cesni_index] + "_" + 'piechart');
            current_cesni_list_name = String(piece['parca_ismi'] + "_" + current_cesni_index + "_" + bilesenler[current_cesni_index] + "_" + 'cesnilist');

            my_piece_list_node.insertAdjacentHTML('beforeend', `
            <li>
                 <div class="row">
                     <div class="col-5">
                        <em><b>Parça:</b></em> ${piece['parca_ismi']}
                        <br>
                        <br>
                        <em><b>Bileşen:</b></em> ${bilesenler[current_cesni_index]}
                        <br>
                        <br>
                        <em><b>Bileşendeki çeşnilerin usüllerine olan oranları:</b></em>
                        <br>
                        <br>
                        <ul id="${current_cesni_list_name}"></ul>
                     </div>
                     <div class="col-7">
                         <canvas width="200" height="200" id="${current_chart_name}"></canvas>
                     </div>
                 </div>
                 <hr>
                 <br>
             </li>
            `);

            var cesni_list_node = document.getElementById(current_cesni_list_name);

            for (let index = 0; index < data.length; index++) {

                let cesni_list_item = document.createElement('li');
                cesni_list_item.id = labels[index];
                cesni_list_item.innerHTML = labels[index] + ": % " + data[index];
                cesni_list_node.appendChild(cesni_list_item);

            }

            // console.log(cesni_list_node);

            var my_canvas = document.getElementById(current_chart_name).getContext('2d');

            colorArr = createColorArray(data.length)

            let my_chart = new Chart(my_canvas, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: data,
                        backgroundColor: colorArr,
                        borderColor: colorArr,
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    aspectRatio: 1,
                }
            });
        }

    }

    function createColorArray(length) {

        const colorArray = [];

        for (let i = 0; i < length; i++) {

            let color;
            do {
                const r = Math.floor(Math.random() * 256);
                const g = Math.floor(Math.random() * 256);
                const b = Math.floor(Math.random() * 256);
                const a = 100;

                color = `rgba(${r}, ${g}, ${b}, ${a})`;

            } while (color === 'rgba(255, 255, 255, 100)');

            colorArray.push(color);
        }

        return colorArray;
    }

    class Bilesen {
        constructor() {
            this._name = "";
            this._cesni_list = [];
        }

        set name(name) {
            this._name = name;
        }

        get name() {
            return this._name;
        }

        set cesni_list(cesni_list) {
            this._cesni_list = cesni_list;
        }

        get cesni_list() {
            return this._cesni_list;
        }
    }

    const b_list = [];

    for (const my_piece of pieces_cleaned_data) {

        for (const my_bilesen of my_piece["bilesenler"]) {

            const bilesen = new Bilesen();

            bilesen.name = my_bilesen["bilesen_ismi"];

            let bilesenExists = false;

            for (const b of b_list) {

                if (b.name === bilesen.name) {
                    bilesenExists = true;
                    break;
                }

            }

            if (!bilesenExists) {
                b_list.push(bilesen);
            }
        }
    }

    for (const b of b_list) {

        for (const my_piece of pieces_cleaned_data) {

            for (const my_bilesen of my_piece["bilesenler"]) {

                if (b.name === my_bilesen['bilesen_ismi']) {
                    for (const my_cesni of my_bilesen['bilesen_cesniler']) {
                        b.cesni_list.push(my_cesni);
                    }

                }

            }

        }

    }

    for (const b of b_list) {

        const modifiedCesniList = b._cesni_list.reduce((acc, curr) => {

            const { _name, _cesni_list } = curr;

            const modifiedCesniList = b._cesni_list.reduce((cesniAcc, cesni) => {

                const { cesni_ismi } = cesni;

                if (!cesniAcc[cesni_ismi]) {

                    cesniAcc[cesni_ismi] = {
                        cesni_ismi,
                        cesni_usul: cesni.cesni_usul,
                        cesni_sure_256: cesni.cesni_sure_256,
                        cesni_oran: cesni.cesni_oran
                    };

                } else {
                    cesniAcc[cesni_ismi].cesni_sure_256 += cesni.cesni_sure_256;
                }
                return cesniAcc;

            }, {});

            return { ...acc, ...modifiedCesniList };

        }, {});

        const modifiedCesniListArray = Object.values(modifiedCesniList);

        b._cesni_list = modifiedCesniListArray;
    }

    function createNewChartForSubcomponentAddToHtml(subcomponent_list) {

        my_subcomponent_list = document.getElementById("analyzed_subcomponent_list");

        for (const s of subcomponent_list) {

            data = [];
            labels = [];

            for (const cesni of s._cesni_list) {

                data.push(cesni.cesni_sure_256);
                labels.push(cesni.cesni_ismi);

            }

            my_percentage_data = toPercentages(data);

            current_li_name = String(s._name) + '_subcomponent';

            subcomponent_list_item = document.createElement('li');
            subcomponent_list_item.id = current_li_name;

            my_subcomponent_list.appendChild(subcomponent_list_item);

            my_subcomponent_node = document.getElementById(current_li_name);

            current_chart_name = String(current_li_name + "_chart");

            my_subcomponent_node.insertAdjacentHTML('beforeend', `
                    <div class="row">
                        <div class="col-5">
                        <em><b>Bileşen:</b></em> ${s.name} 
                        <br>
                        <br>
                        <em><b>Bileşendeki çeşnilerin bileşenin süresine olan oranları:</b></em>
                        <br>
                        <br>
                        <ul id="${s.name}_list"></ul>
                        <br>                        
                        <br>                        
                        </div>
                        <div class="col-7">
                            <canvas width="200" height="200" id="${current_chart_name}"></canvas>
                        </div>
                    </div>
                    <hr>       
            `);

            my_cesni_list = document.getElementById(s.name + '_list');

            let subcomponent_total_length = 0;

            for (const cesni of s._cesni_list) {
                subcomponent_total_length += cesni.cesni_sure_256;
            }

            for (const cesni of s._cesni_list) {

                let my_cesni_item = document.createElement('li');

                let my_sure_percentage = ((cesni.cesni_sure_256 / subcomponent_total_length) * 100);

                my_cesni_item.innerHTML = cesni.cesni_ismi + ' : % ' + my_sure_percentage; // cesni.cesni_sure_256;

                my_cesni_list.appendChild(my_cesni_item);
            }

            my_subcomponent_canvas = document.getElementById(current_chart_name).getContext('2d');

            colorArr = createColorArray(subcomponent_list.length)

            let my_chart = new Chart(my_subcomponent_canvas, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: my_percentage_data,
                        backgroundColor: colorArr,
                        borderColor: colorArr,
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    aspectRatio: 1,
                }
            });
        }

    }

    function toPercentages(arr) {
        const total = arr.reduce((a, b) => a + b, 0);
        const percentages = arr.map(x => (x / total) * 100);
        return percentages;
    }

    createNewChartForSubcomponentAddToHtml(b_list);

</script>

{% endblock scripts %}